@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #0000ff;
    --cor-de-fundo: #000000;
    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url('imagens/background.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}

.container__div {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 1.75rem;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    display: block;
    color: var(--branco-principal);
    margin-bottom: 1rem;
}

.container__botao:hover {
    background-color: #0000ff;
    border: 0.1rem solid var(--botao-azul);
}

.botao_secundario {
    background-color: transparent;
    border: 0.125rem solid var(--branco-principal);
    margin-bottom: 0.5rem;
}

.botao_secundario:hover {
    background-color: transparent;
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 4.5rem 0 2.5rem;
}

.secundario__imagem {
    width: 90%;
    margin-left: 4.5rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.2rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.imagem_secundaria {
    width: 90%;
}

.secundario_botao {
    display: inline-block;
    margin-top: 1rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--branco-principal);
    margin-right: 1rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 3rem 0 5rem 1rem;
    list-style-type: none;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
}

.rodape__logo {
    margin-top: 6rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
    margin-top: 3rem;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.link__botao {
    font-size: 1rem;
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__paragrafo {
    color: var(--cinza-secundario);
    font-size: 0.85rem;
    margin: 1.5rem 6rem;
}

.rodape__autoria {
    margin-top: 1.5rem;
    padding: 0.5rem;
    color: var(--cinza-secundario);
    background-color: #272727;
    font-size: 0.85rem;
}
